/* font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

/* reset.css */
body {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button {
  font: inherit;
}

button {
  border: 0;
  background: none;
}

button:enabled {
  cursor: pointer;
}

p {
  margin: 0;
}

ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* CSS 적용 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

body {
  font-family: 'Pretendard-Regular', sans-serif;
  background-color: #fffaf0;
}

/* button */
.black-btn {
  display: block;
  width: 100%;
  padding: 0;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

/* .black-btn:not(:disabled) {
    cursor: pointer;
  } */
.black-btn:disabled {
  opacity: 0.2;
}

/* form */
.label-style,
.input-style {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input-style {
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  transition: all 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
}

.input-style:hover {
  box-shadow: 0 2px 0 0 #2e6ff2;
}

.input-style:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

.label-style {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

/* layout ------------------------------- */
.hello {
  display: inline-block;
}

.hello strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.5);
}

@media (min-width: 541px) {
  .hello::after {
    content: '|';
    color: #d8ddde;
    margin-left: 24px;
  }
}

@media (max-width: 540px) {
  .hello {
    position: absolute;
    top: 140px;
    right: 34px;
  }
}

.svg {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 auto 20px;
}

.svg .svg-heart {
  transform: scale(1);
  stroke: transparent;
  stroke-width: 0px;
  transform-origin: 50% 20px;
  z-index: 10;
  animation: heart 0.5s cubic-bezier(0.23, 1.08, 0.26, 0.01) infinite alternate;
}

@keyframes heart {
  to {
    stroke: #ffc7d1;
    stroke-width: 2px;
    transform: scale(3);
  }
}
