/* reset.css */
body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

textarea {
    font: inherit;
}

ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* CSS 적용 */
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    background-color:#DDD;
}

.wrap {
    width: 448px;
    margin: 113px auto 113px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
}

.header {
    width: 100%;
    height: 120px;
    background-color: #fff;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 4px solid #DDD;
    display: flex;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    font-weight: 700;
    color: #FF007A;
    display: inline-block;
    vertical-align: top;
    margin: 46px 239px 46px 39px;
}

.header h1::before {
    content:"";
    width: 8px;
    height: 32px;
    vertical-align: top;
    background-color: #FF007A;
    background-position: 0 center;
    border-radius: 0px 10px 10px 0px;
    display: inline-block;
    transform: translateX(-40px)
}

.main {
    width: 372px;
    padding: 24px 38px 38px;
    background-color: #EEEEEE;
    border-radius: 0 0 20px 20px;
}

.main ol li {
    width: 100%;
    height: fit-content;
    min-height: 48px;
    margin-top: 14px;
    border: 4px solid #D9D9D9;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
}

.main>ol>li textarea {
    width: 100%;
    height: auto;
    font-size: 16px;
    color: #888;
    font-weight: 400;
    padding-left: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    resize: none;
}

.main>ol li textarea:focus{
    outline: transparent;
}

.main>ol li:hover {
    background-image: url(./images/Frame.svg);
    background-size: 20px 20px;
    background-position: calc(100% - 17px) 50%;
    background-repeat: no-repeat;
    border-color: #759CFF;
}