@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    font-family: montserrat;
}

body, h1, h2 {
    padding: 0;
    margin: 0;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-size:20px;
    color:#282828;
    font-weight: lighter;
    margin-bottom: 16px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
}

.name-text {
    font-weight: bold;
    color: #7c7c7c;
    font-size: 16px;
}

.main-box {
    width: 610px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.1);
}

.title-box {
    text-align: right;
}

.about-me-text {
    font-size: 10px;
    line-height: 16px;
}

section {
    margin-bottom: 24px;
}

.float-wrap {
    overflow: hidden;
}

.title-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: left;
}

.year-text {
    font-size: 11px;
    font-weight: bold;
    color: #282828;
    float: right;
}

.desc-text {
    font-size: 9px;
}

.desc-subtext {
    font-size: 9px;
    color: #282828;
    padding-left: 16;
}

.sns-wrap {
    text-align: right;
}

.sns-image {
    width: 12px;
    height: 12px;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    font-size: 12px;
    padding: 20px;
    color: #919191;
}