.one {
    font-size: 10px + 10px;
}

// 이런식의 연산이 되지 않도록 주의해야 합니다.
// 예상치 못한 결과가 나올 수 있습니다.
.two {
    font-size: 10 + 10px;
}

.three {
    font-size: 10px - 3px;
}

.four {
    font-size: 10 - 3px;
}

.five {
    font-size: 10px -3px; // 10 - 3이 아니라 -3이 음수로 인식되어 10px -3px 이 같이 들어갑니다. (음수인식)
}

.six {
    font-size: 10px * 3;
}

.seven {
    font-size: (10px / 3);
}

.eight {
    font-size: 10px % 3px;
}